

.button {
  margin-right: 16px;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  padding: 8px;
  color: #333;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  display: block;
}
