.header {
  position: sticky;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 28px;
  height: 66px;
  border-bottom: 1px solid #e8ebed;
  background-color: #fff;
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .header {
    padding: 0 16px;
    gap: 16px;
    height: 56px;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  margin-left: auto;
}
