/* Set font gốc cho toàn app */
html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
}

@media (max-width: 768px) {
  html {
    font-size: 56.25%; /* Slightly smaller base font size on mobile */
  }
}
